#priceForm {
    margin: 10px 50px;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid green;
    position: relative;
}
.center {
    position: relative;
}
.blockSpan {
    position: absolute;
    top: -35px;
    left: -5px;
}
input {
    border: 1px solid grey;
    padding-left: 10px;
    width: 200px;
    height: 30px;
    position: relative;
}
input:focus {
    outline: none;
    color: #00ff00;
    border: 1px solid green;
    box-shadow: 1px 1px 3px 3px #00ff00;
}
.err {
    border: 1px solid #b80000;
    box-shadow: 1px 1px 3px 3px #b80000;
    padding-left: 10px;
    width: 200px;
    height: 30px;
    position: relative;
}
.errValue {
    position: absolute;
    padding-left: 60px;
    margin: 5px;
    color: red;
    font-style: italic;
}
.currentPrice {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    z-index: 2;
}
.currentPriceValue {
    margin: 5px 0 5px 60px;
    padding-left: 10px;
    border: 1px solid green;
    border-radius: 20px;
    display: inline-block;
}
.currentPriceValue>span {
    color: green;
}
.remove-button {
    color: darkgreen;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 2px;
    border-radius: 50%;
}