
.wrapper {
    background-color: #303439;
    color: white;
}
.image-to-show {
    box-shadow: 0 0 10px rgb(231, 104, 93);
}
.btn-wrapper {
    background-color: #303439;
}
.theme {
    border: 1px solid rgb(231, 104, 93);
    background-color: #303439;
    color: white;
}