body {
    position: relative;
    overflow: hidden;
}
.modal {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 1000;
}
.Ok {
    visibility: hidden;
    color: green;
}
.Err {
    visibility: hidden;
    color: orange;
}
.modal div {
    position: relative;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
}
.close {
    position: absolute;
    top:0;
    right: 0;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}
.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn{
    width: 150px;
}