* {
    box-sizing: border-box;
}
body {
    font-family:Courier, MyriadPro-Regular, sans-serif;
    font-size: 62.5%;
    ;
}
.container {
    background-image: url("../images/backgroundMinlan.jpg");
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    margin: 38px auto;
    width: 1366px
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #F26522;
}
/*Header editing*/
header {
    display: flex;
    justify-content: space-between;
    margin: 0 153px ;
    padding-top: 38px;
}
.logo {
    display: block;
}
.logo:hover img {
    opacity: 0;
}
.logo:hover {
    color: #F26522;
    background-image: url("../images/logo@1Xhover.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
header ul {
    color: white;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}
.logo li:first-child {
    font-size: 29px;
}
.logo li:last-child {
    font-size: 18px;
}
.contact {
    text-align: right;
    font-size: 18px;
}
/*The Gallery Cards*/
main {
    margin: 40px 153px 0 153px ;
}
.firstBlock, .secondBlock {
    display: flex;
    justify-content: space-between;
}
.secondBlock {
    margin-top: 38px;
}
figure img {
    background: white;
    box-shadow: 0 -2px 3px 1px white;
}
figcaption {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 5px 0 5px;
}
/*Footer editing*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 38px 0 20px 0;
}