* {
    box-sizing: border-box;
}

body {
    font-family: Courier, MyriadPro-Regular, sans-serif;
    font-size: 62.5%;
}

.container {
    background-image: url("../images/backgroundMinlan.jpg");
    background-repeat: no-repeat;
    /*background-position: top;*/
    color: white;
    margin: calc(50vh - 360px) auto;
    max-width: 1366px;
    width: 100%;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

/*Header editing*/
header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 38px 153px 0;
}

header ul {
    color: white;
    display: block;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

/*Logotype editing - start*/
.logoLink {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*float: right;*/
    list-style-type: none;
    padding-left: 15px;
    color: white;
}

.logo li:first-child {
    font-size: 26px;
    margin-bottom: -2px; /*reducing space between milan and holliday */
}

.logo li:last-child {
    font-size: 18px;
}

.logo a:hover ul {
    color: #F26522;
}

.logo img {
    display: inline-block;
}

.logo a img:nth-child(2) { /*last-child don't work.Why? */
    display: none;
}

.logo a:hover img:nth-child(2) {
    display: inline-block; /* without this browser don't see second img*/
}

.logo a:hover img:first-child {
    display: none;
}

/*Logotype editing - end*/
.contact {
    text-align: right;
    font-size: 18px;
    margin-top: 8px; /*alignment by line with Holliday*/
}

/*The Gallery Cards*/
main {
    margin: 40px 153px 0 153px;
}

.firstBlock, .secondBlock {
    display: flex;
    justify-content: space-between;
}

.secondBlock {
    margin-top: 38px;
}

.cards img {
    background: white;
    box-shadow: 0 -2px 3px 1px white;
    position: relative; /*for hidden details*/
    z-index: 3; /*will be changed by hover*/
}

figcaption {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 5px 0 5px;
}

/*hidden details on images*/
.details {
    position: relative;
    list-style-type: none;
    background-color: #F26522;
    color: white;
    padding: 20px 5px 15px 20px;
    margin-top: -67px; /* placed under img*/
    width: 307px;
    height: 63px;
    z-index: 2;
}

.details li:first-child {
    font-size: 10px;
}

.details li:last-child {
    font-size: 20px;
}

.details li:last-child::after {
    content: "View details >";
    font-size: 14px;
    float: right;
    margin-right: 15px;
    padding-top: 5px;
}

.gallery a:hover {
    color: #F26522;
}

.gallery a:hover img {
    z-index: 1;
}

/*Footer editing*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 38px 0 20px 0;
}